    var filters = {
        getOrderState: function (code) {
            var map = {
                '00': '待支付',
                '01': '待接单',
                '02': '制作中',
                '03': '待配送',
                '04': '配送中',
                '100': '已完成',
                '30': '慢必赔',
                '31': '取消订单',
                '40': '退款中',
                '41': '退款完成'
            }
            return map[code] ? map[code]: ''
        },
        getGroupState: function(code) {
            switch(code) {
                case 'p1':
                    return '拼团中'
                case 'p2':
                    return '拼团完成'
                case 'p3':
                    return '拼团失败'
                default:
                    return ''
            }
        },
        getAddr: function (item) {
            var type = item.orderType
            switch (type) {
                case 1:
                    return item.contactAddress
                case 2:
                case 3:
                    return item.storeName
                default:
                    return item.storeName
            }
        },
        getOrderBrief: function (item) {
            var orders = item.order_detail
            if (!orders) {
                return ''
            }
            var len = orders.length
            if (len > 0) {
                var firstName = orders[0].productName
                return firstName + (len > 1 ? '等' : '') + ' 共' + len + '件商品'
            }
            return ''
        },
        getDiscountType: function (item) {
            var val = item.discountAmount === 0 ? '未使用' : '-￥' + item.discountAmount
            switch (item.discountType) {
                case 1:
                    return {
                        discount: val,
                        coupon: '未使用'
                    }
                case 2:
                    return {
                        discount: val,
                        coupon: '未使用'
                    }
                default:
                    return {
                        discount: '未使用',
                        coupon: '未使用'
                    }
            }
        },
        getSum: function (list) {
            return list ? list.length : 0
        }
    }
    module.exports = filters